
.main-img {
    width: 40%;
    padding: 0 0 0 5em;
    margin: 0;

}

.movie-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    max-height: 20%;
}

.movie-info {
    margin: 30px 70px;
    text-align: center;
    max-width: 95vw;
}

.single-title {
    text-align:left;
    padding-left: 2em;
    font-size: 2em;
}

.additional-info{
    padding-left: 5em;

}

.top-rated {
    color: #FFFF00;
    font-family: 'Lora', serif;
    width: 100%
}

.upcoming {
    color: #00FFFF;
    font-family: 'Rokkitt', serif;
    
}

.popular {
    color: #FF00FF;
    font-family: 'Nunito', sans-serif;
}

@media only screen and (max-width: 800px) {
    [class*="movie-details"] {
      display: flex;
      flex-direction: column;
    }
    [class*="main-img"] {
        padding-left: 0;
    }
  }


