
.full-page {
    display: flex;
    overflow: hidden;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.movie-container {
    display: flex;
    overflow: hidden;
    width: 100vw;
    padding: 0;
    margin: 0;
    height: 100%;
}

.movie-item {
    max-width: 300vw;
    margin-right: 20px;
}

.movie-image{
    object-fit: contain;
    width: 200px;
}

.movie-image:hover{
    width: 400px;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 20px;
    z-index: 1;
}

.arrow-container i {
    color: white;
    font-size: 3em;
}

.movie-title a {
    text-align: center;
    text-decoration: none;
    color: white;
}

.movie-title a:hover{
    color: #E50914;
}