.single-movie-all {


}

.main-img {
    width: 700px;
    padding: 0 0 0 5em;
    margin-top: 0;
}

.movie-details {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.movie-info {
    margin: 5em;
    text-align: center;
    max-width: 90vw;
    padding: 0 5em 0 0;
}

.single-title {
    text-align:left;
    padding-left: 2em;
    font-size: 2em;
}

.additional-info{
    padding-left: 5em;

}


.top-rated {
    color: #FFFF00;
    font-family: 'Lora', serif;
}

.upcoming {
    color: #00FFFF;
    font-family: 'Rokkitt', serif;
    
}

.popular {
    color: #FF00FF;
    font-family: 'Nunito', sans-serif;
}


